*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none;
font-weight: 400;
font-family: "Poppins", sans-serif;
}

:root {
  --purple-200: #9a7bd1;
  --purple-500: #6b36c8;
  --purple-800: #441f88;

  --gray-200: #cccccc;
  --gray-400: #505861;

  --black-800: #171717;

  --white: #f9f9f9;
}

html {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-200);
  color: var(--black-800);
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

button,
a {
  cursor: pointer;
}

.botao {
  text-align: center;
  padding: 12px 32px;
  background: none;
  color: var(--purple-800);
  border: 1px solid var(--purple-800);
  border-radius: 10px;
  font-weight: 700;

  transition: 0.3s;
}

.botao:hover {
  background-color: var(--purple-800);
  color: var(--white);
  transform: scale(1.1);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilização - Seção Header */

.menu_container {
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--purple-800);
  border-bottom: 1px solid var(--purple-500);
  filter: opacity(0.9);
}

.menu_container a {
  color: var(--white);
  font-weight: 700;
}

.menu_container a:hover {
  color: var(--purple-200);
}

.menu_content {
  max-width: 1120px;
  padding: 0 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu_list {
  list-style: none;
  text-align: center;
}

.menu_list li {
  margin-left: 1rem;
}

/* Estilização da Seção Home */

.home_container {
  max-width: 1120px;
  margin: 16px auto;
  padding: 0 1rem;
  height: calc(100vh - 100px);

}

.home_container p,
h1,
h4 {
  text-align: center;
  font-size: 1rem;
}

.home_container h1, .about_container h1, .contact_container h4 {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 700;
}

.home_container h4 {
  font-weight: 700;
}

.home_container p {
  margin: 1rem 0;
}

.home_container .botao {
  width: 40%;
}

.home_content, .about{
  width: 50vw;
  flex-direction: column;
}

.home_content img {
  display: flex;
  width: 75%;

  margin-left: auto;
  
}

.about_container{
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: calc(100vh - 100px);
    gap: 3rem;
}
.about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.about_container img{
    width: 14rem;
    border: 0.2rem solid var(--purple-800);
    border-radius: 50%;

}
.about_container p{
    text-align: center;
    font-size: 1rem;
}
.about_github{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-top: 2rem;
}
.contact_container{
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    gap: 3rem;
}
.contact_container h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
 .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
 .contact-info img{
    width: 3rem;
    margin-left: 0.7rem;
    transition: 0.3s;
 }

 .contact-info img:hover{
    transform: scale(1.1);
 }
 footer{
    height: 80px;
    background-color: var(--purple-500);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
footer p {
    display: flex;
    align-items: center;
    gap: 5px;
}
footer img {
    width: 20px;
    height: auto;
}