main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--gray-200);
    height: calc(100vh - 160px);

    gap: 1rem;
}